<div class="message my-3" {{#id}}data-messageid="{{id}}"{{/id}} {{#turn_id}}data-turn-id="{{turn_id}}"{{/turn_id}}>
    <div class="d-flex justify-content-end">
        <div class="border rounded p-2 bg-primary text-white" style="max-width: 80%;">
            <div class="content">{{{content}}}</div>
        </div>
    </div>
</div>

